nav{
    height: 80px;
    line-height: 80px;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
}
select{
    cursor: pointer;
    margin-left: 20px;
    background: transparent;
    border: none;
    width: 80px;
    font-size: 20px;
    outline: none;
}
.nav-item{
    margin-right: 50px;
}
button{
    border: none;
    outline: none;
    background: transparent;
    font-size: 23px;
    color: #222;
    cursor: pointer;
}