.container{
    margin-top: 50px;
    width: 90vw;
}
.tasks-container{
    border: 1px solid rgb(182, 160, 145);
    list-style: none;
    box-shadow: 0px 0px 0px 9px rgb(221, 216, 221);
    margin-bottom: 100px;
}
.alert-no-tasks{
    color: rgb(105, 90, 80);
    font-size: 25px;
    margin: 40px 0;
    text-align: center;
}
@media screen and (max-width: 700px ){
    .container{
        margin-top: 25px;
        width: 95vw;
    }
}

